html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cartao {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    background-color: ghostwhite
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

/* Adicione cores alternadas para as linhas */
tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}


.titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    background-color: gray;
    border-radius: 5px;
}

.textoarea {
    background-color:lightgray;
}